---
const {link, academy, date, title} = Astro.props
---
<!-- <a href={link} target="_blank" rel="noopener noreferrer">
    <img
      src={src}
      alt={alt}
      class="w-20 h-20 md:w-60 md:h-40 min-w-40 min-h-28 object-cover border border-gray-700 rounded-2xl filter grayscale hover:grayscale-0 transform transition duration-300 ease-in-out hover:scale-105"
    />
  </a> -->
  <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md overflow-hidden">
    <div class="p-4">
      <h3 class="text-xl font-semibold text-gray-800 dark:text-white mb-2">
        {title}
      </h3>
      <p class="text-gray-600 dark:text-gray-300 mb-2">{academy}</p>
      <p class="text-gray-500 dark:text-gray-400 text-sm mb-4">{date}</p>
      <a href={link} target="_blank" rel="noopener noreferrer" class="inline-block bg-blue-400 text-white px-4 py-2 rounded hover:bg-blue-600 transition-all duration-300 dark:bg-blue-600 dark:hover:bg-blue-700">View Certificate</a>
    </div>
  </div>
  