---
import CardProject from "./CardProject.astro";
const cardsProjects = [
  {
    projectName: "Cripto React",
    description: "Cryptocurrency trading in different currencies",
    src: "/img/cripto-react.png",
    alt: "Cripto React",
    linkGitHub: "https://github.com/leonardocueto/criptos-react",

  },
  {
    projectName: "GuitarLA",
    description: "Guitar shop with a variety of guitars",
    src: "/img/guitarLA.png",
    alt: "GuitarLA",
    linkGitHub: "https://github.com/leonardocueto/GuitarLA-Next",
  },
  {
    projectName: "Portfolio",
    description: "Personal portfolio ",
    src: "/img/portfolio.png",
    alt: "Portfolio",
    linkGitHub: "https://github.com/leonardocueto/portfolio-astro",
  },


];
---
<div class="w-full">
    <h4 class="text-xs md:text-sm text-center pb-4 text-stone-400">Browse My Recent</h4>
    <h1 class=" md:text-5xl text-center font-bold text-5xl mb-14">Projects</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
            cardsProjects.map( card =>(
                <CardProject 
                src={card.src}
          alt={card.alt}
          linkGitHub={card.linkGitHub}
          projectName={card.projectName}
          description={card.description}
          />
          ))
        }
    </div>
  </div>